.blogs{
    width: 100%;
    height: 100vh;
    background-color: #D0DCDC;
}

.blogs h1{
    font-size: 4.5rem;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 50px;
    text-transform: capitalize;
    color: #00892C;
    letter-spacing: 5px;
}

.blogs h1 span{
    font-size: 5rem;
    text-transform: uppercase;
}
.blogsec{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 20%;
}
.blogcard{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    justify-content: baseline;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5),
                -5px -5px 10px -2px rgba(255, 255, 255, 0.2);
}

.blogcard .blogcontent{
    width: 80%;
    margin: 2%;
}
.blogcard img{
    position: relative;
    top: 0;
    left: 0;
}
.blogcard .blogcontent h2{
    margin-bottom: 20px;
}
.blogcard .blogcontent a{
    position: relative;
    color: #fff;
    padding: 10px 20px ;
    border-radius: 10px;
    margin-top: 10px ;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    background-color: #D0DCDC;
    color: #6C3C4A;
}
.blogcard .blogcontent a:hover{
    transform: scale(1.1);
    background-color: #a8bdaf;
    color: #000;
    box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.5),
                -5px -5px 10px -2px rgba(255, 255, 255, 0.5);
}
@media (max-width: 800px){
    .blogs{
        height: auto;
    }
    .blogsec{
        grid-template-columns: 1fr;
    }
}
/* .blogcard::before{
    content: '';
    background-image: url('https://res.cloudinary.com/dgy8ybeoy/image/upload/v1632593894/samples/plaocter/New_Project_12_u3o9c2.png');
    position: relative;
    top: 0%;
    left: 0%;
} */